/*
  |==============================
  | Стандартні стилі
  |==============================
*/

/* Палітра кольорів */
:root {
  --secondary-font-color: #ffffff;
  --accent-color: #0a8bfe;

  --bg-color: #0d0d33;

  /* Змінна швидкості анімацій */
  --animation-global: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Загальні стилі для основного тексту */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-font-color);
}

/* Скидання відступів тегів */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Скидання підкреслювання посилань */
a {
  text-decoration: none;
}

/* Скидання маркерів списку */
ul {
  list-style: none;
}

/*
  |==============================
  | Початок стилізації анімацій
  |==============================
*/

/* Контейнер сітки анімованих елементів */
.container {
  width: 1120px;
  margin: 0 auto;

  /* Спосіб побудування сіток за допомогою display: grid; */
  display: grid;

  /* Задання кількості колонок для розташування елементів */
  grid-template-columns: repeat(4, auto);

  /* Проміжок між елементами */
  gap: 32px;

  background-color: blueviolet;
}

/* Елементи сітки */
.item {
  /* Для позиціонування тексту та бордерів */
  position: relative;

  width: 256px;
  height: 256px;

  background-color: aqua;

  /* Анімація збільшення елементів всередині сітки */
  animation-name: item-scale;

  /* Тривалість анімації */
  animation-duration: 2000ms;

  /* Функція розподілу часу анімації */
  animation-timing-function: ease;

  /* CSS-перехід викривлення елементу */
  transition: transform 500ms ease;
}

/* Викривлення елементу при наведенні */
.item:hover {
  transform: skew(-10deg);
}

/* Стилізація тексту */
.text {
  /* Центрування блоку тексту */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Застосування вертикальної геометрії */
  display: block;
  padding: 10px;

  /* ПОЗИЦІОНУВАННЯ ТЕКСТУ ВИЩЕ БАТЬКІВСЬКОГО ЕЛЕМЕНТУ ДЛЯ МОЖЛИВОСТІ НАВЕДЕННЯ НА ТЕКСТ*/
  z-index: 2;

  /* Фон блоку тексту */
  background-color: red;

  /* Анімація переходу повороту блоку тексту та зміни фонового кольору */
  transition: transform 2000ms ease, background-color 1000ms ease;
}

/* Зміна фонового кольору та поворот елементу при наведенні */
.text:hover {
  background-color: yellow;
  transform: translate(-50%, -50%) rotate(360deg);
}

/* Бордер елементу, реалізований псевдоелементом */
.item::after {
  /* Позиціонування відносно батьківського елементу */
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;

  /* Обов'язкова властивість псевдоелементу */
  content: '';

  width: 236px;
  height: 236px;

  /* Початковий стиль бордеру */
  border: 3px dotted red;

  /* Анімація заміни стилю бордеру */
  animation-name: after-border-swap;

  /* Тривалість анімації */
  animation-duration: 1000ms;

  /* Функція розподілу часу анімації */
  animation-timing-function: linear;

  /* Нескінченна кількість ітерацій для постійного програвання анімації */
  animation-iteration-count: infinite;
}

/* Об'явлення анімації збільшення елементів всередині сітки */
@keyframes item-scale {
  0% {
    transform: scale(0.25);
  }

  100% {
    transform: scale(1);
  }
}

/* Об'явлення анімації заміни стилю бордеру */
@keyframes after-border-swap {
  0% {
    border-style: dotted;
  }
  100% {
    border-style: dashed;
  }
}

/*
  |==============================
  | Стилі для кнопок навігації по сторінкам практичного заняття
  |==============================
*/

.practice-list {
  /* Фіксована позиція кнопок */
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  /* Зміна блокової моделі для позиціонування */
  display: flex;

  /* Зміна напрямку флекс-потоку */
  flex-direction: column;

  /* Розрив між кнопками */
  gap: 40px;

  /* Перекриття кнопками іншого контенту */
  z-index: 1;
}

/* Кнопки навігації по сторінкам практичного заняття */
.practice-link {
  /* Зміна блокової моделі для вертикальної геометрії */
  display: block;

  /* Вирівнювання тексту кнопки */
  text-align: center;

  /* Поля кнопки */
  padding: 15px 15px;

  /* Шрифт */
  font-size: 15px;
  line-height: 1.4;

  /* Кольори та заокруглення рамки */
  background-color: var(--accent-color);
  color: var(--secondary-font-color);
  border-radius: 4px;
  max-width: 117px;

  /* Ефекти переходів кольорів кнопок */
  transition: color var(--animation-global), background-color var(--animation-global);
}

/* Ефекти при наведенні */
.practice-link:hover,
.practice-link:focus {
  background-color: var(--bg-color);
  color: var(--accent-color);
}
