/*
  |==============================
  | ПОЧАТОК РЕАЛІЗАЦІЇ ГРІДІВ
  |==============================
*/

.list {
  /* Заміна блокової моделі */
  display: grid;

  /* Побудування сітки */
  grid-template-columns: repeat(3, auto);

  /* Вказання відступів між елементами */
  gap: var(--indent);
}

/* Позиціонування першого елементу */
.grid1 {
  /* На початку 2 колонки */
  grid-column-start: 2;
  /* До початку 4 колонки */
  grid-column-end: 4;
  /* На початку 1 рядку */
  grid-row-start: 1;
  /* До початку 3 рядку */
  grid-row-end: 3;
}

/* Позиціонування другого елементу */
.grid2 {
  /* На початку 1 колонки */
  grid-column-start: 1;
  /* До початку 3 колонки */
  grid-column-end: 3;
  /* На початку 4 рядку */
  grid-row-start: 4;
  /* До початку 6 рядку */
  grid-row-end: 6;
}

/*
  |==============================
  | КІНЕЦЬ РЕАЛІЗАЦІЇ ГРІДІВ
  |==============================
*/

:root {
  /* Переменные цветов */

  --main-color: #757575;
  --secondary-color: #212121;
  --triary-color: #ffffff;
  --bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --header-border: #ececec;
  --card-border: #eeeeee;
  --customer-color: #afb1b8;

  --secondary-font-color: #ffffff;
  --black: #000;
  --main-font-color: #737373;
  --accent-color: #0a8bfe;

  --gray-bg: #888888;
  --bg-color: #0d0d33;

  /* Переменные шрифтов */
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;

  /* Переменные отступов между элементами сеток */
  --indent: 30px;
  --filter-indent: 8px;

  /* Переменная скорости анимаций */
  --animation-global: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Загальні стилі для основного тексту */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-font-color);
}

/* Скидання відступів тегів */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Скидання підкреслювання посилань */
a {
  text-decoration: none;
}

img {
  display: block;
}

/*
  |==============================
  | Код із ДЗ№5, дещо міг не дочистити, не зважайте, гріди вище
  |==============================
*/
/* Сброс маркеров списков */
.list {
  list-style: none;
}

/* Размеры и отступы контейнеров контента */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Вертикальное наполнение секций */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-link {
  /* Изменение типа блочной модели элемента для реализации декоративных эффектов */
  display: block;

  /* Эффект перехода для ссылок карточек портфолио */
  transition: box-shadow var(--animation-global);
}

.card-img-box {
  /* Позиционирование оверлея относительно картинки */
  position: relative;

  /* Скрыть переполняющие элементы */
  overflow: hidden;
}

/* Оверлей карточек */
.card-overlay {
  /* Позиционирование оверлея на всю ширтну картинки */
  position: absolute;
  top: 0;
  left: 0;

  /* Размер и поля оверлея */
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  /* Фон оверлея */
  background-color: rgba(33, 150, 243, 0.9);

  /* Смещение и прозрачность оверлея */
  opacity: 0;
  transform: translateY(100%);

  /* Эффекты перехода оверлея */
  transition: transform var(--animation-global), opacity var(--animation-global);
}

/* Стили текста оверлея */
.card-overlay-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--triary-color);
}

/* Тень карточки при ховере и фокусе */
.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Перемещение оверлея в видимое состояние при ховере */
.card-link:hover .card-overlay,
.card-link:focus .card-overlay {
  transform: translateY(0%);
  opacity: 1;
}

/* Стили контейнера для подписей карточек */
.card-description {
  padding: 20px 24px;
  border: 1px solid var(--card-border);
  border-top: none;
}

/* Стили заголовков карточек */
.card-title {
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

/* Стили категорий карточек */
.card-category {
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.88;
}

/*
  |==============================
  | Стилі для кнопок навігації по сторінкам практичного заняття
  |==============================
*/

.practice-list {
  /* Фіксована позиція кнопок */
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  /* Зміна блокової моделі для позиціонування */
  display: flex;

  /* Зміна напрямку флекс-потоку */
  flex-direction: column;

  /* Розрив між кнопками */
  gap: 40px;

  /* Перекриття кнопками іншого контенту */
  z-index: 1;
}

/* Кнопки навігації по сторінкам практичного заняття */
.practice-link {
  /* Зміна блокової моделі для вертикальної геометрії */
  display: block;

  /* Вирівнювання тексту кнопки */
  text-align: center;

  /* Поля кнопки */
  padding: 15px 15px;

  /* Шрифт */
  font-size: 15px;
  line-height: 1.4;

  /* Кольори та заокруглення рамки */
  background-color: var(--accent-color);
  color: var(--secondary-font-color);
  border-radius: 4px;
  max-width: 117px;

  /* Ефекти переходів кольорів кнопок */
  transition: color var(--animation-global), background-color var(--animation-global);
}

/* Ефекти при наведенні */
.practice-link:hover,
.practice-link:focus {
  background-color: var(--bg-color);
  color: var(--accent-color);
}
